body{
    background-image: url(assets/2eed15f6ace1921267dd21e71fad2f75.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Dancing Script", cursive;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}